<style>
  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }

  .animated {
    margin: 20px;
    animation: float 2s ease-in-out infinite;
  }
  .chat-container {
    display: flex;
    flex-direction: column;
    height: 50vh; /* Defina a altura conforme necessário */
    overflow-y: scroll;
    width: 50%;
    word-wrap: break-word;
    margin: auto;
    border: 1px solid white;
  }

  .italic-message {
    font-style: italic;
  }
  #messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto; /* Adicione uma barra de rolagem se necessário */
  }

  li {
    margin-bottom: 8px;
  }

  .user-input {
    display: inline-block;
    border: none;
    outline: none;
    background: transparent;
    color: #333;
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid white;
  }

  .message-form {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    margin-top: 8px;
  }

  input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 4px;
    margin-left: 8px;
    caret-shape: block;
  }

  button {
    background: #1976d2;
    color: white;
    border: none;
    outline: none;
    padding: 8px;
    cursor: pointer;
  }

  button:hover {
    background: #125699;
  }

  @font-face {
    font-family: "CooperBits";
    src: url("assets/CooperBits.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
</style>
<div style="display: flex; flex-direction: column; margin-bottom: 50px">
  <span
    style="
      font-family: CooperBits;
      margin: auto;
      font-size: 64px;

      display: flex;
    "
  >
    <div class="animated">＼(=^‥^)/</div>
    nekoChat
    <div class="animated">＼(^‥^=)/</div>
  </span>
  <span style="margin: auto"> free anonymous chat! </span>
</div>

<div style="display: flex; flex-direction: column">
  <div class="chat-container">
    <ul id="messages">
      <li
        style="height: 30px; padding-top: 3px; padding-bottom: 3px"
        *ngFor="let message of messages"
      >
        <ngx-typed-js
          style="padding: 0"
          [style.color]="message.sender === 'system' ? message.color : 'white'"
          [class.italic-message]="message.text.startsWith('[')"
          [strings]="[message.text]"
          [typeSpeed]="20"
          [showCursor]="false"
          (preStringTyped)="playTypeSound()"
          (completed)="stopTypeSound()"
        >
          <span *ngIf="message.sender != 'system'" [style.color]="message.color"
            >{{ message.sender }} says:</span
          >
          <span class="typing"></span>
        </ngx-typed-js>
      </li>
    </ul>
  </div>
  <input
    class="user-input"
    style="color: white"
    [(ngModel)]="chatBox"
    [ngModelOptions]="{ standalone: true }"
    autocomplete="off"
    placeholder="write a message..."
    (keydown.enter)="send(); hidePicker()"
    (keydown.alt.q)="showPicker()"
  />
  <span style="margin: 5px auto 0px 25%; font-size: 16px"
    >Alt + Q - kaomoji menu</span
  >
  <span style="margin: 50px auto; font-size: 16px; color: greenyellow"
    >Made by igor |
    <a
      style="text-decoration: none"
      href="https://www.github.com/igormieski27"
      target="_blank"
    >
      <img
        style="margin-bottom: -8px; margin-right: 5px"
        src="../assets/github.png"
        height="30px"
        width="30px"
      />github</a
    >
  </span>
</div>

<app-face-picker (faceSelected)="chatBox = chatBox + $event"></app-face-picker>
